<!-- 
    Launches:
        Rviz
        Map Server
        AMCL
        Move Base
 -->

 <launch>
 
    <include file="$(find gopher_navigation)/launch/rviz.launch"/>
    <include file="$(find gopher_navigation)/launch/amcl.launch"/>
    <include file="$(find gopher_navigation)/launch/move_base.launch"/>

</launch>
