<launch>

    <!-- Arguments -->
    <!-- With arms -->
    <arg name="with_arms"   default ="true"/>
    <!-- Start the GUIs -->
    <arg name="gazebo_gui"   default ="true"/>
    <!-- Rviz config -->
    <arg name="start_rviz" default="true"/>
    <arg name="rviz_config" value="$(find gopher_gazebo)/rviz/rviz_config_mobile.rviz" 
         if="$(eval not with_arms)"/>
    <arg name="rviz_config" value="$(find gopher_gazebo)/rviz/rviz_config.rviz" 
         if="$(eval with_arms)"/>

    <!-- Gazebo parameters -->
    <arg name="use_sim_time" default="true"/>
    <arg name="debug" default="false" />
    <!-- use trajectory controllers and MoveIt -->
    <arg name="use_trajectory_controller" default="true"/>
    <arg name="paused" default="$(arg use_trajectory_controller)"/>

    <!-- Gazebo environment -->
    <env name="GAZEBO_MODEL_PATH" value="$(find hospital_gazebo)/models:${GAZEBO_MODEL_PATH}" />
    <arg name="world_name" default="hospital_small"/>
    <arg name="world_file" default="$(find hospital_gazebo)/worlds/$(arg world_name).world"/>
    

    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gazebo_gui)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="paused" value="$(arg paused)"/> 
        <arg name="world_name" value="$(arg world_file)"/>
    </include>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" if="$(arg start_rviz)"/> 

    <!-- Map Server -->
    <node name="map_server" pkg="map_server" type="map_server" 
          args="$(find gopher_navigation)/maps/$(arg world_name).yaml">
        <param name="frame_id" value="/map" />
    </node>


</launch>
