<launch>

    <!-- Arguments -->
    <!-- Robot name -->
    <arg name="robot_name" default="gopher"/>
    <!-- True if spawning the robot with two arms-->
    <arg name="with_arms" default="true" />


    <!-- Gazebo world-->
    <include file="$(find gopher_gazebo)/launch/launch_environment.launch">
        <arg name="with_arms" value="$(arg with_arms)"/>
    </include>


    <!-- Load robots -->
    <arg name="robot_name_1" default="$(arg robot_name)_1"/>
    <group ns="$(arg robot_name_1)">
    
        <include file="$(find gopher_gazebo)/launch/single_gopher.launch" >
            <arg name="robot_name" value="$(arg robot_name_1)"/>
            <arg name="with_arms" value="$(arg with_arms)"/>
            
            <arg name="x0" value="-8"/>
            <arg name="y0" value="-11"/>
            <arg name="yaw" value="0"/>
        </include>
        <param name="amcl/initial_pose_x" value="-8" />
        <param name="amcl/initial_pose_y" value="-11" />
        <param name="amcl/initial_pose_a" value="0" />
    </group>

</launch>
