<launch>

    <!-- Arguments -->
    <!-- Robot name -->
    <arg name="robot_name" default="gopher"/>
    <!-- True if spawning the robot with two arms-->
    <arg name="with_arms" default="false" />


    <!-- Gazebo world-->
    <include file="$(find gopher_gazebo)/launch/launch_environment.launch">
        <arg name="with_arms" value="$(arg with_arms)"/>
    </include>

    
    <!-- Load robots -->
    <arg name="robot_name_1" default="$(arg robot_name)_1"/>
    <group ns="$(arg robot_name_1)">
    
        <include file="$(find gopher_gazebo)/launch/single_gopher.launch" >
            <arg name="robot_name" value="$(arg robot_name_1)"/>
            <arg name="with_arms" value="$(arg with_arms)"/>
            
            <arg name="x0" value="7"/>
            <arg name="y0" value="-4"/>
            <arg name="yaw" value="3.14"/>
        </include>
        <param name="amcl/initial_pose_x" value="7" />
        <param name="amcl/initial_pose_y" value="-4" />
        <param name="amcl/initial_pose_a" value="3.14" />
    </group>

    <arg name="robot_name_2" default="$(arg robot_name)_2"/>
    <group ns="$(arg robot_name_2)">
    
        <include file="$(find gopher_gazebo)/launch/single_gopher.launch" >
            <arg name="robot_name" value="$(arg robot_name_2)"/>
            <arg name="with_arms" value="$(arg with_arms)"/>>
            
            <arg name="x0" value="6"/>
            <arg name="y0" value="-4"/>
            <arg name="yaw" value="-1.57"/>
        </include>
        <param name="amcl/initial_pose_x" value="6" />
        <param name="amcl/initial_pose_y" value="-4" />
        <param name="amcl/initial_pose_a" value="-1.57" />

    </group>

</launch>
