<launch>
    
    <!-- Set the joystick input -->
    <arg name="joy_config" default="xbox" />
    <arg name="config_filepath" default="$(find gopher_control)/config/joystick/$(arg joy_config).config.yaml" />
    <arg name="joystick" default="js0"/>
    <arg name="robot_name" default="gopher"/>


    <!-- Base and Main camera control-->
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="teleop_joystick" >
        <param name="dev" type="string" value="/dev/input/$(arg joystick)" />
        <param name="deadzone" value="0.12" />
        <param name="autorepeat_rate" value="20" />
    </node>

    <!-- teleoperation node -->
    <node name="teleop_twist_joy" pkg="gopher_control" type="teleop_twist_joy" output="screen"> 
        <!-- Axes -->
        <rosparam command="load" file="$(arg config_filepath)" />
        
        <remap from="/pitch_yaw" to="$(arg robot_name)/main_cam_controller/pitch_yaw" />
        <remap from="/cmd_vel" to="$(arg robot_name)/base_controller/cmd_vel" />
    </node>

</launch>