<launch>
    
    <!-- Set the joystick input -->
    <arg name="joystick" default="js0"/>
    <arg name="robot_name" default="gopher"/>

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="logitech_steering_wheel_node" >
        <param name="dev" value="/dev/input/$(arg joystick)" type="string" />
        <param name="coalesce_interval" value="0.02" type="double"/>
        <param name="default_trig_val" value="true"/>
        <param name="deadzone" value="0.05" type="double"/>
        <remap from="/joy" to="/G29/joy" />
    </node>

    <!-- Steering wheel interface -->
    <node name="logitech_steering_wheel_base_teleop" pkg="gopher_control" 
        type="logitech_steering_wheel.py">
        <remap from="/base_controller/odom" to="$(arg robot_name)/base_controller/odom" />
        <remap from="/base_controller/cmd_vel" to="$(arg robot_name)/base_controller/cmd_vel" />
        <remap from="/joy" to="/G29/joy" />
    </node>

</launch>